@import "../../styles/$break.scss";

.RGD2 {
  & {
    position: relative;
    display: flex;
    z-index: 100;
    cursor: pointer;
    h1 {
      position: absolute;
      right: 54%;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 !important;
      font-family: var(--font-sans);
      font-weight: 900;
      letter-spacing: -0.09em;
      line-height: 1;
    }
    svg {
      opacity: 25%;
    }
  }
  @media (min-width: $break-mobile) {
    position: fixed;
    top: 1.6em;
    right: 1.6em;
  }
  @media (max-width: $break-mobile) {
    align-self: flex-start;
    position: sticky;
    top: -3.5em;
    z-index: 9999;
    h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      text-align: center;
      transform: unset;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.66rem;
      opacity: 0.5;
    }
    svg {
      position: absolute;
      pointer-events: none;
      opacity: 0.25;
      @media (prefers-color-scheme: dark) {
        opacity: 0.15;
      }
    }
  }
}
