@import "../../styles/$break.scss";

.RGD2 {
  & {
    position: relative;
    display: flex;
    z-index: 100;
    h1 {
      font-family: var(--font-sans);
      font-weight: 900;
      letter-spacing: -0.09em;
      line-height: 1;
      position: absolute;
      right: 54%;
      top: 50%;
      transform: translateY(-50%);
    }
    svg {
      opacity: 25%;
    }
  }
  @media (min-width: $break-mobile) {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  @media (max-width: $break-mobile) {
    align-self: flex-start;
    position: sticky;
    top: -3.5em;
    z-index: 9999;
    pointer-events: none;
    h1 {
      display: none;
    }
    svg {
      position: absolute;    }
  }
}
