@import "../../styles/$break.scss";

.RGD2Footer {
  $BEM: &;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-flex;
  background: var(--matte);
  transition: .3s .1s;
  @media (min-width: $break-mobile) {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  &_link {
    transition: 0.2s;
    text-decoration: 1px underline transparent;
    &:hover {
      text-decoration-color: currentColor;
    }
    #{$BEM}:not(:hover) & {
      opacity: 0.66;
    }
    & + &:before {
      content: "/";
      color: var(--text);
      margin: 0 0.33em;
      display: inline-block;
      text-decoration: none;
    }
    &\=resume {
      opacity: 1 !important;
      font-weight: bold;
    }
  }
}
